.header{
	color: #cb7ef1;
	text-align: center;
}
.dark{
	color:#ac00e6;
	text-align: center;
}
.c{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
	background-color:#e6e6ff
}